<mat-toolbar>
  <mat-toolbar-row>
    <span>DesPessoalApp</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="addBank()">
      <mat-icon>add</mat-icon> Novo banco
    </button>
    <button mat-raised-button>
      <mat-icon>add</mat-icon> Entrada futura
    </button>
    <button mat-raised-button>
      <mat-icon>add</mat-icon> Entrada
    </button>
    <button mat-raised-button>
      <mat-icon>remove</mat-icon> Saida
    </button>
    <button mat-raised-button>
      <mat-icon>sync_alt</mat-icon> Tranferência
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-balances></app-balances>
<app-transaction-list></app-transaction-list>
